/*------------------------------------------------------*/
/* Content layout styles */

.md-main {
  width: 100% !important;
}
/* Sets main grid to take up full screen width */

.md-main__inner { 
  width: 80% !important;
  max-width: 80% !important;
}
/* Sets main content grid to take of 80% of its parent (.md-main) */

@media (max-width: 1600px) {
  .md-main__inner {
    width: 95% !important;
    max-width: 95% !important;
  }
}
/* For screens smaller than 1600px: Sets main content grid to take of 95% of its parent (.md-main) */

/*------------------------------------------------------*/
/* Base color schemes */

:root {
  /* --md-primary-fg-color:        #262626; */
  --md-primary-fg-color:        #1e1e1e;
  --md-primary-fg-color--light: #ec8f9c;
  --md-primary-fg-color--dark:  #6d1220;
  /* Main color scheme */

  /* --md-primary-bg-color:        #ffffff;
  --md-default-bg-color:        #ffffff;
  --md-accent-fg-color:         #ffffff; */
  /* Other color styles - saving just to remember their names */
}

/* :root {
  --md-primary-fg-color:        #009688;
  --md-primary-fg-color--light: #009688;
  --md-primary-fg-color--dark:  #009688;
} */
/* Old color scheme */

.md-typeset a {
  color: #009688 !important;
}
/* Site-wide link color */

.md-footer-meta.md-typeset a {
  color: #ffffff !important;
}
/*------------------------------------------------------*/
/* Home banner styles */

.banner-content-col {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  height: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner-title {
  color: #eeeeee;
}

.home-tagline {
  font-size: 2.5em !important;

}

@media (max-width: 959px) {
  .banner-content {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

/*------------------------------------------------------*/
/* Navigation and sidebar styles */

.md-sidebar--secondary {
  order: 0;
}
/* Moves the Table of contents sidebar to the left */

@media (max-width: 1220px) {
  .md-tabs {
    display: block !important;
  }
  /* Shows the links at the top of the page */

  .md-header__button.md-logo {
    display: inline-block !important;
  }
  /* Shows the logo in the header */

  .md-header__button.md-icon[for="__drawer"] {
    display: none !important;
  }
  /* Hides the mobile navigation menu in the header */
}
/* By default, Material switches to the mobile navigation at 1220px.
   This keeps the regular nav tabs and logo on the header for screens smaller than 1220px */

@media (max-width: 959px) {
  .md-sidebar--primary {
    display: block;
  }
  /* Enables the navigation sidebar so the mobile nav menu works as expected */

  .md-tabs {
    display: none !important;
  }
  /* Hides the links at the top of the page */

  .md-header__button.md-logo {
    display: none !important;
  }
  /* Hides the logo in the header */

  .md-header__button.md-icon[for="__drawer"] {
    display: inline-block !important;
  }
  /* Shows the mobile navigation menu in the header */
}
/* This reverts to the mobile navigation at 959px */
/*------------------------------------------------------*/
